.logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .login {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .container {
    margin-top: 120px; 
    margin-bottom: 40px;
  }
  
  .container-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .container h1{
  cursor: pointer;
  }
  .container-img {
    display: flex;
    justify-content: space-between;
  }
  
  .container-img img {
    margin-right: 10px;
    cursor: pointer;
  }
  